#firstDiv {
    background: #3b3b3b ;
    font-family: "Open Sans";

}
.nav {
    font-family: "Open Sans";
    height: 60px;
    /*background-color: 0005;*/
    position: fixed;
    right: 10 px;
    padding: 10px; 
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 2s;
    
}

.nav ul li:hover {
    background-color: rgba(65, 65, 65, 1);
}

header .logo {
    /*background: url(logo4.png) 100% no-repeat;*/
/*    border: 2px solid black;*/
    position: fixed;
    left: 10px;
    top: 8px;
    opacity: .9%;
    z-index: 50;
}

#otherLogos img {
    margin-left: 8px;
}

.nav-link {
    color: white;
}

.container-fluid {     /*added so there isn't margin created by scripts on site*/
    padding: 0;
}

#skills img {
    height: 50px;
    text-align: center;
    margin: 35px;
}

#skills {
    background-color: white ;
}

.headerImage{
    height: 700px;
    position: relative;
    background: url(Header1.jpg) 60% no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    z-index: 1

}
.headingTxt {
    margin-left: 15%;
    top: 40%;
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 2;
}
.headingContent h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    animation: fadein 1s;
/*    font-family: "Open Sans";*/

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.headingContent p {
    top: 10%;
    font-size: 24px;
    text-align: center;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0; }
}

/*for quote*/
.quote {
    background-color: #292929 ;
    font-size: 24px;
    font-family: serif;
    padding: 70px;
}
.quote p {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.categories {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#skills {
    background-color: #292929 ;
    text-align: center;
}
/*.skills p {
    font-size: 55px;
    color: #fff;
    text-align: center;

}*/

.quote2 {
    background-color: #292929 ;
    font-size: 24px;
    font-family: serif; 
    padding: 70px;
}
.quote2 p {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.the-button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius:20px;
    height: 50px;
    width: 100px;
    animation: fadein 2s;
}

#aboutAnchor {
    color: #4d4d4d;
    font-weight: 500;
    font-size: 55px;
    text-align: left;
    margin-top: 40px;
}

.aboutDiv {
    padding: 70px;
    background-color: #f6f6f6;
}

.aboutMePhoto {
    margin-top: 15%;
    margin-left: 10px;    
}

#projectsAnchor {
    text-align: center;
    font-size: 55px;
    color: #4d4d4d;
    font-weight: 500;
    padding-bottom: 40px;
}

#projectsDiv {
    padding: 50px;
    background-color: #f6f6f6;
}

.wrapper { 
        background:#f6f6f6; 
        /*box-shadow: 1px 1px 10px #999;*/ 
        margin: auto; 
        text-align: center; 
        position: relative;
     /*   -webkit-border-radius: 10px;
        -moz-border-radius: 10px;*/
     /*   border-radius: 10px;
        margin-bottom: 20px !important;*/
        width: 1280;
    }
    .scrolls { 
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100;
        white-space:nowrap;

    } 
    .imageDiv img { 
        box-shadow: 1px 1px 10px #999; 
        max-height: 350px;
        cursor: pointer;
        display:inline-block;
        vertical-align:top;
    }



#firstParagraph {
    color: #4d4d4d;
    margin-right: 35px;
    margin-left: 80px;
}

#secondParagraph {
    color: #4d4d4d;
    position: relative;
}

#thirdParagraph {
    color: #fff;
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.contactImage {
    background: url(contactImage2.jpg) no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
   /* padding-top: 70px;*/
    z-index: 1;
}

.contactImage:hover > .contactImageGray {
    width:100%;
    height:500px;
    position:absolute;
    background-color: rgba(0,0,0,0.1);
    transition: opacity 0.05s; 
}

.contactImageGray {
   background-color: rgba(0, 0, 0, 0);
   width: 100%;
   height: 500px;
   
}
/*
.contactImageGray {
    vertical-align: middle;
    transition: opacity 2s; 
    -webkit- transition: opacity:1s;
} */

#skills img {
    text-align: center;
}

   
  input[type=text], select, input[type=email], textarea{
    
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 40px;
  }

  input[type=text]  {
      width: 46%;
      height: 50px;
      margin-right: 2%;
     
  }

  input[type=email] {
      
      width: 46%;
      height: 50px;
     
  }

  textarea{
      width: 95%;
      margin: auto;
      height: 100px;
      margin-top: 20px; 
  }


.button_1{
    height: 48px; 
    background: #292929; 
    border: 0; /*takes out natural borders*/
	padding: 1em;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    /* transition: background-color 2s ease-out; */
    display: flex; 
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100px;
}


#contactAnchor {
    text-align: center;
    font-size: 55px;
    color: #fff;
    font-weight: 500;
    padding-top: 100px;
    z-index: 2;
}



#thirdDiv {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 5
}

span.projectTitles {
    margin-top: 300px;
    position: absolute;
}

.scrolls img {
    margin-right: 70px;
    margin-top: 50px;
}


/*.map {
    width: 1000%;
    height: 400px;
    background-color: gray;
        }*/

.socialMedia img {
    height: 20px;
    width: 20px;
    margin: 10px;
}

.socialMedia {
    background-color: #292929 ;
    text-align: center;
    padding-bottom: 35px;

}

.the-arrow {
    background-color: #292929 ;
    width: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
    z-index: 2;
    border: none;
    /*transition: all 0.5s;*/
    cursor: pointer;
}


.the-arrow {
   display: inline-block;
    padding-top: 14px;
    transition: all .125s ease;
    font-size: 2em;
    color: black;
    text-decoration: none;
    color: white;
}
.the-arrow:hover {
  transform: translateY(-3px);
}